@import "tailwindcss";

@theme {
  /* Mendaftarkan animasi kustom ke dalam engine Tailwind v4 */
  --animate-marquee: marquee 20s linear infinite;
  --animate-marquee-reverse: marquee-reverse 20s linear infinite;

  /* Mendefinisikan Keyframes di dalam tema */
  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  @keyframes marquee-reverse {
    0% {
      transform: translateX(-50%);
    }
    100% {
      transform: translateX(0%);
    }
  }
}

:root {
  --color-accent: #0cc0df;
  --font-poppins: "Poppins", sans-serif;
}

* {
  font-family: var(--font-poppins), sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #000;
  color: #fff;
}